@import "../components/mixins";

.navCols {
  cursor: pointer;
}
.aboutContainer {
  padding-top: 4em;
  .secondCol {
    text-align: justify;
    @include tablet {
      padding-left: 2em;
    }

    .tabContent {

      .tabPane {
        h2 {
          margin-bottom: 1em;
          @include mobile {
          }
        }
        .tabPaneText {
          margin-top: 10rem;
          width: 100%;
        }
      }
    }

  }
}