.navCols {
  cursor: pointer;
}
.aboutContainer {
  padding-top: 4em;
  .secondCol {
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      text-align: center;
      align-self: center;
    }
    img {
      align-self: center;


    }
    .tabPaneText {

      margin-top: 10rem;
      width: 57rem;
    }
  }
  }
}
  h2 {
    margin-bottom: 1em;
  }