@import "../components/mixins";

.containerPost {
  padding-top: 5em;

  h1 {
    padding-bottom: 2rem;
  }
  .post {
    display: flex;
    justify-content: space-between;

    @include mobile{
      flex-direction: column;
      align-items: center;
    }
    form {
      width: 30em;

      @include mobile{
        width: 90%;
        align-self: center;
        margin-bottom: 2em;
      }
      @include tablet {
        width: 50%;
        margin-right: 4em;
      }
      @include desktop{
        margin-right: 4em;
      }
      .label {
        margin: 1em 0;
      }
      textarea {
        margin-bottom: 2em;
        height: 15em;
      }
      .buttonAddPost {
        margin-top: 2rem;
      }
    }


  }
  .recomandations {
    width: 40%;
    text-align: start;

    @include mobile {
      width: 90%;

    }
    @include tablet {
      width: 50%;
    }
    h3 {
      margin-bottom: 1em;
      p {

      }
    }
    .lastP {
      padding-top: 2em;
      font-size: 1em;
      color: #7f868c;
    }
  }
}

