@import "../components/mixins";

.containerContact {
  padding-top: 5em;

  .titleContact {
    margin-bottom: 4em;
    cursor: default;
    h1 {
      font-weight: bold;
    }
  }

  .contactBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    @include mobile{
      flex-direction: column;
      align-items: flex-start;
    }

    .form {
      width: 30em;

      @include mobile{
        margin-bottom: 3em;
        align-self: center;
        width: 100%;
        margin-right: 0;
      }
      @include tablet{
        width: 60%;
        margin-right: 0;
      }
      h3 {
        color: #0dcaf0;
        cursor: default;
      }
    }
    .message {
      cursor: default;
      margin-bottom: 9em;
      margin-left: 12em;
      margin-right: 7em;

      @include mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;

      }

      @include tablet{
        margin-left: 5em;
        margin-right: 0;
        text-align: start;
      }
      h3 {
        color: #0dcaf0;
      }
    }
  }
}